.overlap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.overlap[hidden] {
    display: none;
}
#modal {
    position: relative;
    min-width: 50%;
    max-width: 90%;
    min-height: 90%;
    max-height: 95%;
    padding: 12px;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
}
.btn-modal{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
}

